{% extends "common/header.html" %}

{% block title %}Polls Detail - {{ question.question_text }}{% endblock %}

{% load django_bootstrap5 %}

{% block content %}
    <main class="container mt-4">
        <form action="{% url 'polls:detail' question.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend class="h2 mb-3">{{ question.question_text }}</legend>
                {% if error_message %}
                    {% bootstrap_alert content=error_message alert_type="danger" %}
                {% endif %}
                <div class="mb-3">
                    {% for choice in question.choice_set.all %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                            <label class="form-check-label" for="choice{{ forloop.counter }}">
                                {{ choice.choice_text }}
                            </label>
                        </div>
                        <!-- name属性により全てのラジオボタンが同じ名前（choice）を持つため、一度に一つの選択肢のみが選択可能になる -->
                        <!-- id属性はラジオボタンに一意の ID を割り当てる。forloop.counter は Django テンプレートの内蔵変数で、ループの各イテレーションで自動的に1ずつ増加します -->
                        <!-- value属性はラジオボタンが選択された場合にフォームと共に送信される値を設定する -->
                        <!-- <label> タグは、ラジオボタンの説明を提供する -->
                        <!-- for属性はラベルが関連付けられている入力要素（この場合は特定のラジオボタン）の ID を指定する -->
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Vote</button>
            </fieldset>
        </form>
    </main>
{% endblock content %}
