{% extends "polls/header.html" %}

{% block title %}Polls List{% endblock %}

{% load django_bootstrap5 %}

{% block content %}
<main class="container mt-4">
    <h1 class="mb-4">Polls List</h1>

    {% if error_message %}
        {% bootstrap_alert content=error_message alert_type="danger" %}
    {% endif %}

    {% if latest_question_list %}
        <div class="list-group mb-3">
            {% for question in latest_question_list %}
                <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">
                    {{ question.question_text }}
                </a>
                <!-- detailはpolls.urls モジュールの path() 関数で name 引数を定義しているため、ここで使うことができる -->
                <!-- "polls:"はpoll.urls モジュールURLのapp_nameで名前空間を設定している。他のアプリの同じビュー名があっても衝突しないようにするため -->
            {% endfor %}
        </div>
    {% else %}
        {% bootstrap_alert content="No polls are available." alert_type="info" %}
    {% endif %}

    <a href="{% url 'polls:add_question' %}" class="btn btn-primary mb-3">Add New Question</a>

</main>
{% endblock content %}