{% extends "polls/header.html" %}

{% block title %}Polls List{% endblock %}

{% load django_bootstrap5 %}

{% block content %}
<main class="container mt-4">
    <h1 class="mb-4">Polls List</h1>

    <form action="{% url 'polls:index' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="question_text" class="form-control" placeholder="Enter new question">
            <button class="btn btn-success" type="submit">Add Question</button>
        </div>
    </form>

    {% if error_message %}
        {% bootstrap_alert content=error_message alert_type="danger" %}
    {% endif %}

    {% else %}
        <div class="list-group">
            {% for question in latest_question_list %}
                <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">
                    {{ question.question_text }}
                </a>
                <!-- detailはpolls.urls モジュールの path() 関数で name 引数を定義しているため、ここで使うことができる -->
                <!-- "polls:"はpoll.urls モジュールURLのapp_nameで名前空間を設定している。他のアプリの同じビュー名があっても衝突しないようにするため -->
            {% endfor %}
        </div>
    {% else %}
        {% bootstrap_alert content="No polls are available" alert_type="danger" %}
    {% endif %}

</main>
{% endblock content %}