li a {
    color: green;
}

.header-image {
    height: 3em;
    margin-left: 10px;
}

.header-form {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header-button {
    text-decoration: none;
    color: inherit;
    font-size: 2em;
    background: none;
    border: none;
}

a:hover img {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}

form:hover button {
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}